<div class="page-header">
  <h3><i class="icon-book"> </i>Designs</h3>
</div>
<b>Filter:</b><%= text_field_tag :search %>
<div id="indexDiv">
  <table class="tablesorter-default" id="sortable-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Part</th>
        <th>Design Standard</th>
        <th>Result</th>
        <th>Created_at</th>
      </tr>
    </thead>
    <tbody>
      <% @designs.each do |design| %>
        <tr>
          <td><%= design.id %></td>
          <td><%= design.part.name %></td>
          <td><%= design.protocol.name %></td>
          <td><%= link_to 'View', design_path(design.id), {:style => 'color: #049cdb;'} %></td>
          <td><%= design.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="form-actions">
  <%= link_to 'New Design', new_design_path, :class => 'btn btn-primary' %>
</div>
<br />
