<h3>Designs</h3>

<div id="indexDiv">
  <table class="tablesorter-blue" id="sortable-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Part</th>
        <th>Protocol</th>
        <th>Result</th>
        <th>Created_at</th>
      </tr>
    </thead>
    <% @designs.each do |design| %>
      <tbody>
        <tr>
          <td><%= design.id %></td>
          <td><%= design.part.name %></td>
          <td><%= design.protocol.name %></td>
          <td><%= link_to 'View', design_path(design.id), {:style => 'color: #049cdb;'} %></td>
          <td><%= design.created_at %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<br />

<%= link_to 'New Design', new_design_path, {:style => 'color: #049cdb;'} %>
<br><br>
