<div class="page-header">
  <h2><i class="icon-book"> </i>Designs</h2>
</div>

<%= will_paginate @designs %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Part</th>
      <th>Design Standard</th>
      <th>Designed Constructs</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% cnt = 0 %>
    <% @designs.each do |design| %>
      <% cnt += 1 %>
      <tr>
        <td><%= cnt %></td>
        <td><%= link_to design.part.name, part_path(design.part_id) %></td>
        <td><%= link_to design.protocol.name, protocol_path(design.protocol_id) %></td>
        <td><%= link_to 'View', part_design_path(design.part_id, design.id) %></td>
        <td><%= l design.created_at.in_time_zone('EST') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
  <%= link_to 'New Design', new_design_path, :class => 'btn btn-primary' %>
</div>
<br />
