<h3>New design</h3>

<%= simple_form_for(@design) do |f| %>
  <h5> Select one protocol: </h5>
  <table>
    <% @protocols.each do |protocol| %>
      <tr>
        <td width="20px"><%= f.radio_button :protocol_id, protocol.id %></td>
        <td><%= protocol.name %></td>
      </tr>
    <% end %>
  </table>

  <h5> Select parts: </h5> 
  <b>Filter:</b><%= text_field_tag :search %>
  <div id="newDiv">
    <table class="tablesorter-blue" id="sortable-table">
      <thead>
        <tr>
          <th></th>
          <th>Part Name</th>
          <th>Accession Number</th>
          <th>Organism</th>
          <th>Created_at</th>
        </tr>
      </thead>
      <tbody>
        <% @parts.each do |part| %>
          <tr>
            <td><%= f.check_box(:part_id, {:multiple => true}, part.id, nil) %></td>
            <td><%= part.name %></td>
            <td><%= part.sequence.accession %></td>
            <td><%= part.sequence.organism.fullname %></td>
            <td><%= part.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>

