<div class="page-header">
  <h2><i class='icon-file'> </i><%= @design.part.name %></h2>
</div>
<h5>Design Standard: <%= @design.protocol.name %></h5>

<% if !@design.comment.blank? %>
 <b>Comment:</b> <%= @design.comment %> <br />
<% end %>

<b>Designed parts:</b>
<% @design.constructs.each do |construct| %>
  <% sequence = Bio::Sequence::NA.new(construct.seq) %>
  <pre class="prettyprint linenums"><%= sequence.to_fasta(construct.name,80) %></pre>
<% end %>
<i class="icon-download-alt"> </i><%= link_to 'Download FASTA file', :action => :fasta, :id => @design.id %>
<br /><br />
