<% if @parts.blank? %>
  <h2><i class="icon-info-sign"> Please Check</i></h2>
<% else %>
  <h2><i class="icon-info-sign"> Please select parts to be created</i></h2>
<% end %>
<hr />

<% unless @errors.empty? %>
  <% if !@sequences.nil? %>
    <p style="color:red">There are errors in your uploaded file.</p>
    <p>Please note that the description line must follow the format: <b>>part_name|part_type|accession_number|organism|comments</b>.  Organism and comments are optional. One sequence can only have one description line.</p>
    <hr />
    <p><b>Errors:</b></p>
    <% @errors.each do |entry| %>
      &nbsp;&nbsp;<%= entry %> <br />
    <% end %>
  <% else %>
    <p style="color:red">Error: <%= @errors[0] %></p>
  <% end %>
  <div class="form-actions">
    <%= link_to 'Go Back', new_part_path, :class => 'btn btn-primary' %>
  </div>
  <br />

<% else %>
  <%= form_tag({:controller => "parts", :action => "create"}, :method => "post", :multipart => true) do %>

    <% if !@sequences.blank? %>
      <%= hidden_field_tag(:sequence_file, @seq_file) %>
      <p><b><%= @sequences.size %></b> parts to be created.  They are:</p>
      <hr />
      <table class="table table-striped">
        <tr>
          <th>Part Name</th>
          <th>Part Type</th>
          <th>Accession Number</th>
          <th>Organism</th>
        </tr>
        <% @sequences.each do |seq| %>
          <tr>
            <td><%= seq['part'] %></td>
            <td><%= seq['type'] %></td>
            <td><%= seq['accession'] %></td>
            <td><%= seq['org'] %></td>
          </tr>
        <% end %>
      </table>

    <% elsif !@accessions.blank? %>
      <p><b><%= @accessions.size %></b> parts to be created. They are:</p>
      <hr />
      <% @accessions.each do |entry| %>
        <p>&nbsp;&nbsp;<%= entry %></p>
        <%= hidden_field_tag('accession[]', entry) %>
      <% end %>

    <% else %>
      <% if @parts.size == 100 %>
        <p>More than 100 parts found!  Only the first 100 are showed here.</p>
      <% else %>
        <p><b><%= @parts.size %></b> parts found. They are: </p>
      <% end %>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Organism</th>
          <th>Chromosome</th>
          <th>Systematic Name</th>
          <th>Gene Name</th>
          <th>Part Type</th>
          <th>Strand</th>
          <th>Start</th>
          <th>End</th>
          <th>Ontology Term</th>
          <th>ORF Classification</th>
          <th>Description</th>
        </tr>
        <% @parts.each do |p| %>
          <tr>
            <td><%= check_box_tag('annotation_ids[]', p.id, nil) %></td>
            <td><%= p.organism %></td>
            <td><%= p.chromosome %></td>
            <td><%= p.systematic_name %></td>
            <td><%= p.gene_name %></td>
            <td><%= p.feature %></td>
            <td><%= p.strand %></td>
            <td><%= p.start %></td>
            <td><%= p.end %></td>
            <td><%= p.ontology_term %></td>
            <td><%= p.orf_classification %></td>
            <% if p.feature == 'CDS' %>
              <% accession = p.systematic_name.chomp('_CDS') %>
              <% gene = Annotation.find_by_systematic_name(accession) %>
              <td><%= gene.description %></td>
            <% else %>
              <td><%= p.description %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>

    <div class="form-actions">
      <table>
        <tr>
          <td><%= submit_tag("Correct, create parts", :class => "btn btn-primary") %></td>
          <td width="10%"></td>
          <td><%= link_to "Incorrect, go back", new_part_path, :class => "btn btn-danger" %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>
<br />
