<h3>parts</h3>
<b>Filter:</b><%= text_field_tag :search %>
<div id="indexDiv">
  <table class="tablesorter-default" id="sortable-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Part Name</th>
        <th>Protein Accession Number</th>
        <th>Organism</th>
        <th>Type</th>
        <th>Created_at</th>
      </tr>
    </thead>
    <tbody>
      <% @parts.each do |part| %>
        <tr>
					<td><%= link_to part.id, part_path(part.id), {:style => 'color: #049cdb;' } %></td>
          <td><%= part.name %></td>
          <td><%= part.sequence.accession %></td>
          <td><%= part.sequence.organism.fullname %></td>
          <td><%= part.sequence.annotation %></td>
          <td><%= part.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New Part', new_part_path, {:style => 'color: #049cdb;' } %>
<br><br>
