<div class="page-header">
  <h2><i class="icon-book"> </i>Parts</h2>
</div>
<%= will_paginate @parts %>
<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th>Part Name</th>
      <th>Protein Accession Number</th>
      <th>Organism</th>
      <th>Type</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.id %></td>
        <td><%= link_to part.name, part_path(part.id) %></td>
        <td><%= part.sequences.first.accession %></td>
        <td><%= part.sequences.first.organism.try(:fullname) || "Unknown" %></td>
        <td><%= part.sequences.first.annotation %></td>
        <td><%= l part.created_at.in_time_zone('EST') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
  <%= link_to 'New Part', new_part_path, :class => 'btn btn-primary' %>
</div>
<br />
