<h2><i class="icon-play-circle"> </i>New part</h2>
<hr />

<%= form_tag({:controller => "parts", :action => "confirm"}, :method => "post", :multipart => true) do %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#ncbi" data-toggle="tab">NCBI</a></li>
    <li><a href="#file" data-toggle="tab">Fasta File</a></li>
    <li><a href="#genome" data-toggle="tab">Search Genomes</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="ncbi">
      <table>
        <tr>
          <td colspan='2'><b>Input Protein/Nucleotide Accession Number:</b></td>
        </tr>
        <tr>
          <td><%= text_area_tag(:accession, "", :size => "50x10")%></td>
          <td>One id per line<br />e.g.<br />NP_058651.3<br />YP_491843.1<br />P29929.1</td>
        </tr>
      </table>
      <div class="form-actions">
        <%= submit_tag("Create Parts", :class => "btn btn-primary") %>
      </div>
    </div>

    <div class="tab-pane" id="genome">
      Your query: <%= text_field_tag :genome, '', class: 'genome_search' %> &nbsp;&nbsp;&nbsp; <%= submit_tag("Search", :class => "btn btn-primary") %>
      <hr />
      <p><b>Syntax Guide</b></p>
      <p>You can input any words to search all the fields, or search a specific field using the format: field_name:words. 'AND', 'OR' can be used to combine diffrent fields to create complex queries.</p>
      <p><b>Examples:</b></p>
      <li>gene_name:SE* AND (chromosome:chrI OR chromosome:chrII) <i>(find all the genes whose gene symbol begins with SE and belongs to chromosome I or II)</i></li>
      <li>start:[1 TO 10000] AND feature:CDS AND orf_classification:verified <i>(find all the verified CDS with start position from 1 to 10000)</i></li>
      <hr />
      <p><b>Keywords</b></p>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Keyword</th>
          <th>Description</th>
          <th>Query Example</th>
        </tr>
        <tr>
          <td>systematic_name</td>
          <td>The systematic name used in SGD database</td>
          <td>systematic_name:YAL*</td>
        </tr>
        <tr>
          <td>gene_name</td>
          <td>Official gene symbol</td>
          <td>gene_name:SEO1</td>
        </tr>
        <tr>
          <td>organism</td>
          <td>Organism latin name</td>
          <td>organism:Saccharomyces cerevisiae</td>
        </tr>
        <tr>
          <td>chromosome</td>
          <td>Chromosome name</td>
          <td>chromosome:chrII</td>
        </tr>
        <tr>
          <td>feature*</td>
          <td>Entity type, e.g. CDS, tRNA, telomere</td>
          <td>feature:CDS</td>
        </tr>
        <tr>
          <td>start</td>
          <td>The start position on chromosome</td>
          <td>start:[1000 TO *]</td>
        </tr>
        <tr>
          <td>end</td>
          <td>The end position on chromosome</td>
          <td>end:7235</td>
        </tr>
        <tr>
          <td>strand</td>
          <td>strand, W or C (W: positive, C: negative)</td>
          <td>strand:W</td>
        </tr>
        <tr>
          <td>orf_classification</td>
          <td>ORF classification: verified, dubious, uncharacterized, ...</td>
          <td>orf_classification:verified</td>
        </tr>
        <tr>
          <td>ontology_term</td>
          <td>ontology accession number</td>
          <td>ontology_term:0008150</td>
        </tr>
        <tr>
          <td>description</td>
          <td>gene description</td>
          <td>description:shock protein</td>
        </tr>
      </table>
      <p>* Promoter is defined as 500bp upstream of CDS or till gene boundaries</p>
      <p>&nbsp;  Terminator is defined as 100bp downstream of CDS or till gene boundaries</p>
    </div>

    <div class="tab-pane" id="file">
      <p><b>Upload a Fasta File of Protein Sequences (only .fa, .fasta and .txt allowed):</b></p>
      <%= file_field_tag(:sequence_file)%>
      <br /><br />
      <p class="text-error">Important: The description line must use the following format:</p>
      <p><b>></b> part_symbol <b>|</b> part_type <b>|</b> accession_number <b>|</b> source organism<b> | </b>comments</p>
      <p class="muted">** Only one description line is allowed for one sequence</p>
      <p class="muted">** Must use latin name for source organism</p>
      <p class="muted">** source organism and comment are optional</p>
      <p class="muted">** Part name will be created automatically in format: type_organism_symbol_accession number</p>
      <p><i>Check more details and examples: <%= link_to 'description', {:action => :get_description_file} %></i></p>

      <div class="form-actions">
        <%= submit_tag("Create Parts", :class => "btn btn-primary") %>
      </div>
    </div>
  </div>
<% end %>


