<h3>Jobs</h3>
<table class="tablesorter-blue" id="sortable-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Job Status</th>
      <th>Job Type</th>
      <th>Errors</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.id, job_path(job.id), {:style => 'color: #049cdb;'} %></td>
        <td><span class="label <%= get_status_label_style(job.job_status.name)%>"><%= job.job_status.name %></span></td>
        <td><span class="<%= get_type_style(job.job_type.name)%>"><%= job.job_type.name %></span></td>
        <td><%= job.error_info || 'none' %></td>
        <td><%= job.created_at %></td>
        <td><%= job.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
