<h2><i class='icon-book'> </i>Jobs</h2>
<hr />
<%= will_paginate @jobs %>
<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>#</th>
      <th>Job Status</th>
      <th>Job Type</th>
      <th>Errors</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.id, job_path(job.id) %></td>
        <td><span class="label <%= get_status_label_style(job.job_status.name)%>"><%= job.job_status.name %></span></td>
        <td><span class="<%= get_type_style(job.job_type.name)%>"><%= job.job_type.name %></span></td>
        <td><%= job.error_info || 'none' %></td>
        <td><%= l job.created_at.in_time_zone('EST') %></td>
        <td><%= l job.updated_at.in_time_zone('EST') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
