<div class='page-header'>
  <h3><i class='icon-book'> </i>User Info</h3>
</div>
<table class="table table-stripped">
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>Group</th>
    <th>Provider</th>
  </tr>

  <tr>
    <td><%= @user.fullname %></td>
    <td><%= @user.email %></td>
    <td><%= @user.group.name %></td>
    <td><%= @user.provider %></td>
  </tr>
</table>
<div class='form-actions'>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
</div>
<br />
