<h2><i class='icon-book'> </i>User Info</h2>
<hr />
<dl class="dl-horizontal">
  <dt>Fullname</dt>
  <dt>Email</dt>
  <dt>Group</dt>
  <dt>Provider</dt>
  <dd><%= @user.fullname %></dd>
  <dd><%= @user.email %></dd>
  <dd><%= @user.group.name %></dd>
  <dd><%= @user.provider %></dd>
</dl>
<div class='form-actions'>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
</div>
<br />
