<%= form_for(@construct) do |f| %>
  <% if @construct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construct.errors.count, "error") %> prohibited this construct from being saved:</h2>

      <ul>
      <% @construct.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :design_id %><br />
    <%= f.number_field :design_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :seq %><br />
    <%= f.text_field :seq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
