<p id="notice"><%= notice %></p>

<p>
  <b>Design:</b>
  <%= @construct.design_id %>
</p>

<p>
  <b>Name:</b>
  <%= @construct.name %>
</p>

<p>
  <b>Seq:</b>
  <%= @construct.seq %>
</p>


<%= link_to 'Edit', edit_construct_path(@construct) %> |
<%= link_to 'Back', constructs_path %>
