<div class="page-header">
  <h2><i class="icon-book"> </i>Tutorial</h2>
</div>

<p><%= link_to '1. What is BioPartsBuilder. What can BioPartsBuilder do fo you?', '#1'%></p>
<p><%= link_to '2. How to build parts by AutoBuild', '#2'%></p>
<p><%= link_to '3. How to build parts step by step', '#3'%></p>
<p><%= link_to '4. How to manage design standards', '#4'%></p>
<p><%= link_to '5. How to cite us', '#5'%></p>
<hr />

<div id='1'>
  <p><b>1. What is BioPartsBuilder. What can BioPartsBuilder do fo you?</b></p>
  <p>BioPartsBuilder is a a biological design automation tool developed by <a href="http://www.baderzone.org" target="_blank">Bader's group</a> at Johns Hopkins University. BioPartsBuilder can help you:</p>
  <ul>
    <li>Retrieve sequences and annotations of parts from NCBI database, annotated genmoe, or fasta files</li>
    <li>Optimize the codon usage of the sequence</li>
    <li>Report restriction enzyme sites</li>
    <li>Remove restriction enzymes without changing translation</li>
    <li>Add prefix and suffix</li>
    <li>Carve long sequence into fragments with unique overlaps</li>
  </ul>
</div>

<div id='2'>
  <p><b>2. How to build parts by AutoBuild</b></p>
  <iframe width="425" height="349" src="http://www.youtube.com/embed/pVvb9i0-mZo" frameborder="0" allowfullscreen></iframe>
</div>
<br />

<div id='3'>
  <p><b>3. How to build parts step by step</b></p>
  <iframe width="425" height="349" src="http://www.youtube.com/embed/Ic-oHeFSdfw" frameborder="0" allowfullscreen></iframe>
</div>
<br />

<div id='4'>
  <p><b>4. How to manage design standards</b></p>
  <iframe width="425" height="349" src="http://www.youtube.com/embed/pzpMTcEj4tw" frameborder="0" allowfullscreen></iframe>
</div>
<br />

<div id='5'>
  <p><b>5. How to cite us</b></p>
  <p>Please cite: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26568632" target='_blank'>Yang K, Stracquadanio G, Luo J, Boeke JD, Bader JS. <b>BioPartsBuilder: a synthetic biology tool for combinatorial assembly of biological parts.</b> <i>Bioinformatics</i>. 2015 Nov 14. pii: btv664.</a></p>
</div>
<br />
