<h2><i class='icon-book'> </i>Orders</h2>
<hr />
<%= will_paginate @orders %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>User</th>
      <th>Vendor</th>
      <th>Result</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.name, order_path(order) %></td>
        <td><%= order.user.fullname %></td>
        <td><%= order.vendor.name %></td>
        <td><%= link_to "Download", {:action => :get_zip_file, :id => order.id} %></td>
        <td><%= l order.created_at.in_time_zone('EST') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='form-actions'>
  <%= link_to 'New Order', new_order_path, :class => 'btn btn-primary' %>
</div>
<br />
