<div class='page-header'>
  <h3><i class='icon-book'> </i>Orders</h3>
</div>

<b>Filter:</b><%= text_field_tag :search %>
<table class="tablesorter-default" id="sortable-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>User</th>
      <th>Vendor</th>
      <th>Result</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.user.fullname %></td>
        <td><%= order.vendor.name %></td>
        <td><%= link_to "Download", {:action => :get_zip_file, :id => order.id}, {:style => 'color: #049cdb;'} %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='form-actions'>
  <%= link_to 'New Order', new_order_path, :class => 'btn btn-primary' %>
</div>
<br />
