<h2><i class='icon-play-circle'> </i>New order</h2>
<hr />

<%= form_tag({:controller => "orders", :action => "create"}, :method => "post") do %>
  <table>
    <tr>
      <td width="60px"><%= label_tag :name %></td>
      <td><%= text_field_tag :name %></td>
    </tr>
    <tr>
      <td width="60px"><%= label_tag :vendor_id, "Vendor" %></td>
      <td><%= collection_select :order, :vendor_id, Vendor.all, :id, :name %></td>
    </tr>
  </table>
  <hr />
  <h5> Select designs: </h5> 
  <b>Filter:</b><%= text_field_tag :search %>
  <div id="newDiv">
    <table class="table table-bordered table-striped" id="sortable-table">
      <thead>
        <tr>
          <th></th>
          <th>Part Name</th>
          <th>Design Standard</th>
          <th>Created_at</th>
        </tr>
      </thead>
      <tbody>
        <% @designs.each do |design| %>
          <tr>
            <td><%= check_box_tag("design_id[]", design.id, false) %></td>
            <td><%= design.part.name %></td>
            <td><%= design.protocol.name %></td>
            <td><%= design.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='form-actions'>
    <%= submit_tag "Create Order", :class => "btn btn-primary" %>
  </div>
<% end %>

