<h2><i class='icon-file'> </i>Edit design standard</h2>
<hr />
<p class="text-error">Important: changing the design standard will change all the designed constructs built based on this standard. All the constructs will be re-designed based on the updated standard. Only change the design standard when there is an error.  If you want to design construct in a different way, please create a new standard, DO NOT change this one.</p>
<%= form_for [:admin,@protocol] do |f| %>

  <p>Name <%= f.text_field :name %></p>
  <p>Comment <%= f.text_area :comment, :rows => 2 %></p>
  <p><i class='icon-info-sign'> </i><b>Choose Workflow</b></p>
  <hr />

  <button type="button" data-toggle="collapse" data-target="#codon">+</button> <b>Codon Optimizaion</b> <br />
  <div id='codon' class='collapse'>
    Organism <%= f.collection_select :organism_id, Organism.find((1..6).to_a), :code, :fullname, :include_blank => true %>
  </div>

  <button type="button" data-toggle="collapse" data-target="#remove">+</button> <b>Remove Resctriction Enzymes without changing translation</b> <br />
  <div id='remove' class='collapse'>
    <table>
      <tr>
        <td align="center"><%= f.label :forbid_enzymes, "Forbidden Enzymes" %></td>
        <% if @protocol.forbid_enzymes.blank? %>
          <td><%= f.text_area :forbid_enzymes, :rows => 5 %></td>
        <% else %>
          <td><%= f.text_area :forbid_enzymes, :rows => 5, :value => @protocol.forbid_enzymes.gsub(/:/, "\r\n") %></td>
        <% end %>
        <td>One enzyme per line, only letters allowed<br />e.g.<br />BsaI<br />BsmBI<br />EcoRI</td>
      </tr>
    </table>
  </div>

  <button type="button" data-toggle="collapse" data-target="#check">+</button> <b>Check Resctriction Enzyme Sites</b> <br />
  <div id='check' class='collapse'>
    <table>
      <tr>
        <td align="center">Enzymes</td>
        <% if @protocol.check_enzymes.blank? %>
        <td><%= f.text_area :check_enzymes, :rows => 5 %></td>
      <% else %>
        <td><%= f.text_area :check_enzymes, :rows => 5, :value => @protocol.check_enzymes.gsub(/:/, "\r\n") %></td>
      <% end %>
        <td>PartBuilder will check if these enzymes in the sequence but not remove them.<br /> One enzyme per line<br />e.g.<br />BceAI<br />SalI</td>
      </tr>
    </table>
  </div>

  <button type="button" data-toggle="collapse" data-target="#add">+</button> <b>Add Prefix and Suffix</b> <br />
  <div id='add' class='collapse'>
    <p>External Prefix <%= f.text_field :ext_prefix %></p>
    <p>External Suffix <%= f.text_field :ext_suffix %></p>
  </div>

  <button type="button" data-toggle="collapse" data-target="#carve">+</button> <b>Carve long sequence into fragments</b>
  <div id='carve' class='collapse'>
    <table>
      <tr>
        <td align="center"><%= f.label :construct_size, "Size Restriction" %></td>
        <td><%= f.number_field :construct_size %></td>
        <td>Maximum size of sequence, if longer than maximum size, sequence will be carved into fragments</td>
      </tr>
      <tr>
        <td align="center"><%= f.label :int_prefix, "Internal Prefix" %></td>
        <td colspan="2"><%= f.text_field :int_prefix %></td>
      </tr>
      <tr>
        <td align="center"><%= f.label :int_suffix, "Internal Suffix" %></td>
        <td colspan="2"><%= f.text_field :int_suffix %></td>
      </tr>
      <tr>
        <td align="center"><%= f.label :overlap %></td>
        <% if @protocol.overlap.blank? %>
          <td><%= f.text_area :overlap, :rows => 5 %></td>
        <% else %>
          <td><%= f.text_area :overlap, :rows => 5, :value => @protocol.overlap.gsub(/,/, "\r\n") %></td>
        <% end %>
        <td>One overlap per line, only letters allowed<br />e.g.<br />ATTT<br />GCCA<br />CTAA</td>
      </tr>
    </table>
  </div>
  <div class='form-actions'>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
