<h2><i class='icon-book'> </i>Design Standards</h2>
<hr />
<%= will_paginate @protocols %>
<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>External Prefix</th>
      <th>External Suffix</th>
      <th>Internal Prefix</th>
      <th>Internal Suffix</th>
      <th>Size Restriction</th>
      <th>Forbidden enzymes</th>
      <th>Check enzymes</th>
    </tr>
  </thead>
  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= protocol.id %></td>
        <td><%= link_to protocol.name, protocol_path(protocol.id), {:style => 'color: #049cdb;'} %></td>
        <td><%= protocol.ext_prefix %></td>
        <td><%= protocol.ext_suffix %></td>
        <td><%= protocol.int_prefix %></td>
        <td><%= protocol.int_suffix %></td>
        <td><%= protocol.construct_size %></td>
        <td><%= protocol.forbid_enzymes %></td>
        <td><%= protocol.check_enzymes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<br><br>
