<h2><i class='icon-book'> </i>Design Standards</h2>
<hr />
<%= will_paginate @protocols %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Codon Optimization</th>
      <th>Forbidden enzymes</th>
      <th>Check enzymes</th>
      <th>Size Restriction</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= protocol.id %></td>
        <td><%= link_to protocol.name, protocol_path(protocol.id) %></td>
        <td><%= protocol.try(:organism) %></td>
        <td><%= protocol.try(:forbid_enzymes) %></td>
        <td><%= protocol.try(:check_enzymes) %></td>
        <td><%= protocol.try(:construct_size) %></td>
        <td><%= protocol.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
