<div class="page-header">
  <h3><i class="icon-info-sign"> Please Check</i></h3>
</div>
<% unless @errors.empty? %>
  <p style="color:red">There are errors in your uploaded file.</p>
  <p>Please note that the description line must follow the format: <b>>part_name|accession_number|organism|comments</b>.  Organism and comments are optional. One sequence can only have one description line.<p>
  <hr />
  <p><b>Errors:</b></p>
  <% @errors.each do |key, value| %>
    &nbsp;&nbsp;<%= value['error'] %> <br />
  <% end %>
  <div class="form-actions">
    <%= link_to 'Go Back', new_auto_build_path, :class => 'btn btn-primary' %>
  </div>
  <br />

<% else %>
  <%= form_tag({:controller => "auto_builds", :action => "create"}, :method => "post", :multipart => true) do %>
    <% if !@sequences.blank? %>
      <%= hidden_field_tag(:sequence_file, @seq_file) %>
      <p>The protocol you choose to use is <b><%= @protocol.name %></b>.  And the order name is <b><%= @order %></b>.  <b><%= @sequences.size %></b> parts to be designed:</p>
      <hr />
      <table class="table table-striped">
        <tr>
          <th>Part Name</th>
          <th>Part Type</th>
          <th>Accession Number</th>
          <th>Organism</th>
        </tr>
        <% @sequences.each do |seq| %>
          <tr>
            <td><%= seq['part'] %></td>
            <td><%= seq['type'] %></td>
            <td><%= seq['accession'] %></td>
            <td><%= seq['org'] %></td>
          </tr>
        <% end %>
      </table>

    <% elsif !@accessions.blank? %>
      <p>The protocol you choose to use is <b><%= @protocol.name %></b>.  And the order name is <b><%= @order %></b>.  <b><%= @accessions.size %></b> parts to be designed:</p>
      <hr />
      <% @accessions.each do |entry| %>
        <p>&nbsp;&nbsp;<%= entry %></p>
        <%= hidden_field_tag('accession[]', entry) %>
      <% end %>

    <% else%>
      <p>The protocol you choose to use is <b><%= @protocol.name %></b>.  And the order name is <b><%= @order %></b>.  The genome you select is: <%= @organism.fullname %>_<%= @chromosome.name %>, feature: <%= @feature.name %>, position: <%= @start %>-<%= @end %>, strand: <%= @strand %></p>
      <p><b><%= @parts.size %></b> parts are found to meet your requirements.  They are: </p>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Part Name</th>
          <th>Part Type</th>
          <th>Strand</th>
          <th>Start</th>
          <th>End</th>
          <th>Description</th>
        </tr>
        <% @parts.each do |p| %>
          <tr>
            <td><%= check_box_tag('annotation_ids[]', p.id, true) %></td>
            <td><%= p.systematic_name %></td>
            <td><%= p.feature.name %></td>
            <td><%= p.strand %></td>
            <td><%= p.start %></td>
            <td><%= p.end %></td>
            <% if p.feature.name == 'CDS' && p.chromosome.organism.name == 'Sce' %>
              <% accession = p.systematic_name.chomp('_CDS') %>
              <% gene = Annotation.find_by_systematic_name(accession) %>
              <td><%= gene.description %></td>
            <% else %>
              <td><%= p.description %></td>
            <% end %> 
          </tr>
        <% end %>
      </table>

    <% end %>
    <%= hidden_field_tag(:protocol_id, @protocol.id) %>
    <%= hidden_field_tag(:order_name, @order) %>
    <%= hidden_field_tag(:vendor_id, @vendor) %>
    <div class="form-actions">
      <table>
        <tr>
          <td><%= submit_tag("Correct, design parts", :class => "btn btn-primary") %></td>
          <td width="10%"></td>
          <td><%= link_to "Incorrect, go back", new_auto_build_path, :class => "btn btn-danger" %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>
<br />
