<h2><i class='icon-book'> </i>Users</h2>
<hr />
<%= will_paginate @users %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>#</th>
    <th>Fullname</th>
    <th>Email</th>
    <th>Lab</th>
    <th>Group</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.fullname %></td>
      <td><%= user.email %></td>
      <td><%= user.lab.name %></td>
      <td><%= user.group.try(:name) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user.id) %> | <%= link_to 'Delete', admin_user_path(user.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<div class='form-actions'>
  <%= link_to 'Add a memeber', new_admin_user_path, :class => 'btn' %>
</div>
