<h2><i class='icon-file'> </i>Add new member</h2>
<hr />
<%= simple_form_for([:admin,@user], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.input :fullname %>
  <%= f.input :email, :label => 'Gmail Account' %>
  <%= f.association :group, :collection => Group.all %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
  </div>
<% end %>
